{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login position-absolute top-50 start-50 translate-middle">

    <h1 style="text-align: center; margin-bottom: 20px;">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
        </table>

        <input class="btn btn-primary d-flex flex-row-reverse" style="margin: 20px auto;" type="submit" value="Login">
        
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <p style="text-align: center;">Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></p>

</div>

{% endblock content %}