{% extends 'base.html' %}

  {% block meta %}
  <title>To Do List</title>
  <style>
    .card:hover{
      /* 
      taken from: 
      https://ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers
       */
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
    </style>
  {% endblock meta %}

 {% block content %}

 <nav class="navbar navbar-expand-lg bg-primary" style="margin-bottom: 20px;">
  <div class="container-fluid">
    <a class="navbar-brand text-bg-primary" href="#">To Do List</a>
  <div class="navbar-nav float-end">
      <p style="margin: auto 20px; color: white;">Selamat datang, {{ user.username }}!</p>
      <button class="btn btn-danger"><a class = "link-light text-decoration-none" href="{% url 'todolist:logout' %}">Logout</a></button>
  </div>
  </div>
</nav>

  <div class="container" style="margin: 10px 10px;">
    <button class="btn btn-info btn-lg"><a class = "link-light text-decoration-none" href="{% url 'todolist:create_task' %}">New Task</a></button>
  </div>

  {% if task|length != 0 %}
  <div class="row" style="margin-left:10px; margin-right:10px">

    {% for data in task %}
      <div class="col-sm-6">
        {% if data.is_finished == True %}
          <div class="card text-bg-success mb-3">
            <div class="card-body">
              <h3 class="card-title">{{data.title}}</h3>
              <h6 class="card-subtitle">Added: {{data.date}}</h6>
              <p class="card-text">{{data.description}}</p>
              <a href="delete/{{ data.id }}" class="btn btn-danger">Remove</a>
              <button class="btn btn-primary"><a class = "link-light text-decoration-none" href="update/{{ data.id }}">Unfinisihed</a></button>
            </div>
          </div>
        {% else %}
          <div class="card text-bg-info mb-3">
            <div class="card-body">
              <h4 class="card-title">{{data.title}}</h4>
              <h6 class="card-subtitle">Added: {{data.date}}</h6>
              <p class="card-text">{{data.description}}</p>
              <a href="delete/{{ data.id }}" class="btn btn-danger">Remove</a>
              <button class="btn btn-success"><a class = "link-light text-decoration-none" href="update/{{ data.id }}">Finished</a></button>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% else %}
    <p>Belum ada tugas</p>
  {% endif %}

 {% endblock content %}